apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: concert-rush
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/mzkmnk/concert-rush-backend:4220eba738e0950c482ea69456e6d9d03fcffe05
          imagePullPolicy: Always
          resources:
            requests:
              memory: 64Mi
              cpu: 250m
            limits:
              memory: 128Mi
              cpu: 500m
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 2
            periodSeconds: 5
      imagePullSecrets:
        - name: ghcr-secret
