apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: concert-rush
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
